@charset "UTF-8";


.num {
    display: flex;
    justify-content: center;
    align-items: center;
}

p#resultado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 50px;
    width: 50px;
    font-size: 1.3em;
}